[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-mysql = "*"
mysqlclient = "*"
pillow = "*"
python-dotenv = "*"
coreapi = "*"
django-filter = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
drf-spectacular = "*"
django-cors-headers = "*"
boto3 = "*"
django-oss-storage = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
django-storages = {extras = ["google"], version = "*"}
openpyxl = "*"
pandas = "*"
lxml = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
